# PostgreSQL connection string
# Format: postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public
DATABASE_URL="postgresql://postgres:password@localhost:5432/abr_shortener?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="generate-a-long-random-string-here-change-me"

# First admin account (created on seed / first boot)
ADMIN_NAME="Admin"
ADMIN_EMAIL="admin@example.com"
ADMIN_PASSWORD="ChangeThisStrongPassword"

# Optional: public site URL used for short links & OG
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
